{% extends 'base.html' %}
{% load static %}

{% block title %}
Home Page
{% endblock %}

{% block content %}

<div>
    <h1>Home Page</h1>
</div>

<div>
    <h2>Information about the website</h2>
</div>

<div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum, velit eget tincidunt vehicula, nulla nisi
        pellentesque massa, ac facilisis purus arcu ac quam. Fusce non dolor sed risus venenatis laoreet. Vivamus eget
        tristique tortor. Nullam tincidunt consectetur ante a hendrerit. Sed vel lectus eu arcu scelerisque blandit.
        Suspendisse euismod, leo ac varius congue, justo est cursus nisl, eu tincidunt lectus elit eu lorem. Nulla
        facilisi. Sed nec augue non tortor fermentum laoreet. Nullam malesuada lectus ut dolor faucibus, in varius justo
        cursus.
    </p>
</div>

{% endblock %}