{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h1 class="display-5">Home Page</h1>
</div>

<div class="container mt-3">
    <h2 class="display-7">Information about the website</h2>
</div>

<div class="container mt-2">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum, velit eget tincidunt vehicula, nulla nisi
        pellentesque massa, ac facilisis purus arcu ac quam. Fusce non dolor sed risus venenatis laoreet. Vivamus eget
        tristique tortor. Nullam tincidunt consectetur ante a hendrerit. Sed vel lectus eu arcu scelerisque blandit.
        Suspendisse euismod, leo ac varius congue, justo est cursus nisl, eu tincidunt lectus elit eu lorem. Nulla
        facilisi. Sed nec augue non tortor fermentum laoreet. Nullam malesuada lectus ut dolor faucibus, in varius justo
        cursus.
    </p>
</div>

<div class="container mt-2">
    <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed sit amet velit
        nec sapien feugiat iaculis. Nullam a enim quis leo rhoncus pellentesque. Etiam ultrices eleifend enim, nec rhoncus
        nunc varius id. Cras varius, metus nec viverra volutpat, massa massa gravida augue, at laoreet lorem quam in nisi.
        Ut sed ex auctor, gravida leo non, feugiat purus. Suspendisse auctor a ex vel vestibulum. Curabitur facilisis
        bibendum nulla, sed ultrices tortor fermentum ac. Proin nec velit et elit pharetra auctor ut in justo. Vivamus a
        semper elit, sit amet rhoncus elit. In id risus ut augue fringilla elementum ut at mi. Sed bibendum, purus a
        efficitur fringilla, ligula elit venenatis nulla, id placerat metus augue a urna.
    </p>
</div>

<div class="container mt-2">
    <p>
        Mauris id lacus id justo tempor vehicula. Fusce euismod, justo in posuere rhoncus, justo eros laoreet odio, id
        posuere erat arcu eget quam. Aenean sed tortor eget turpis tincidunt venenatis. Vivamus ultricies, metus eget
        fermentum rhoncus, lectus elit feugiat elit, a euismod nunc neque non justo. Sed ac tortor a odio bibendum luctus.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer hendrerit odio et
        odio scelerisque, in feugiat odio hendrerit. Nullam nec libero non orci facilisis malesuada nec in lectus. Nunc id
        tellus eget enim vestibulum blandit. Donec vitae quam vel turpis suscipit congue.
    </p>
</div>

<div class="container mt-2">
    <p>
        Praesent sollicitudin odio nec metus aliquam facilisis. Nullam id risus eget velit facilisis volutpat. Fusce
        consectetur, risus eget facilisis dignissim, nulla enim feugiat odio, eu fermentum odio urna at libero. Sed a urna
        libero. Integer vulputate justo ut massa facilisis, ut facilisis elit laoreet. Vivamus eget varius justo. Etiam non
        risus nec leo ultricies lacinia. Pellentesque auctor arcu at tellus gravida hendrerit. Nulla facilisi. Suspendisse
        potenti. Nunc aliquam, ligula vel laoreet viverra, arcu lectus cursus massa, vel dictum augue ligula id nulla.
        Nulla facilisi. Sed ultricies, ligula ac laoreet volutpat, justo libero bibendum libero, vel aliquet urna dui nec
        lectus. Sed quis posuere lorem.
    </p>
</div>

<div class="container mt-2">
    <p>
        Praesent sollicitudin odio nec metus aliquam facilisis. Nullam id risus eget velit facilisis volutpat. Fusce
        consectetur, risus eget facilisis dignissim, nulla enim feugiat odio, eu fermentum odio urna at libero. Sed a urna
        libero. Integer vulputate justo ut massa facilisis, ut facilisis elit laoreet. Vivamus eget varius justo. Etiam non
        risus nec leo ultricies lacinia. Pellentesque auctor arcu at tellus gravida hendrerit. Nulla facilisi. Suspendisse
        potenti. Nunc aliquam, ligula vel laoreet viverra, arcu lectus cursus massa, vel dictum augue ligula id nulla.
        Nulla facilisi. Sed ultricies, ligula ac laoreet volutpat, justo libero bibendum libero, vel aliquet urna dui nec
        lectus. Sed quis posuere lorem.
    </p>
</div>

{% endblock %}