{% load static %}
{% load cart %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/mini-cart.css' %}" />
{% endblock %}

{% cart_data as cart_data %}

<a href="">
    <div class="mini-cart-container" title="Total price of the cart: {{ cart_data.price }}">

        <div class="number">{{ cart_data.products }}</div>
<!--        <div class="">{{ request.session.cart | products_or_price:'products' }}</div>-->
<!--        <div class="number">{{ request.session.cart | products_or_price:'price' }}</div>-->
        <div class="icon-container">
            <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
</a>